* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #DD2323;
    height: 210px;
}

header h1::before {
    display: flex;
    content: url(https://i.postimg.cc/ZRsjf73F/logo-1.png);
    width: 210px;
    height: 125px;
    margin-top: 5px;
}

header h1 {
    display: flex;
    font-family: "Inter";
    color: #FF8800;
    font-size: 60px;
    font-weight: 400;
    justify-content: center;
}

nav {
    display: flex;
    position: relative;
    top: 120px;
    bottom: 0px;
    left: -140px;
    right: 0px;
}

nav a {
    font-size: 32px;
    font-family: "Inter";
    text-decoration: none;
    background-color: #FD8300;
    color: #FFF703;
    border-radius: 15px;
    padding: 0 20px 0 20px;
    margin-left: 130px;
    position: relative;
    top: -110px;
    bottom: 0px;
    left: 410px;
    right: 0px;
}

nav a:hover {
    background-color: #FE9D35;
    transition: background-color 2s;
    border: 1px solid yellow;
}

main {
    font-family: "Inter"
}

main h2 {
    color: #FF7B00;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

main p::before {
    display: flex;
    content: url(https://i.postimg.cc/FsN94db2/image-2.png);
    margin-left: 70px;
    margin-right: 90px;
}

main p {
    display: flex;
    font-size: 24px;
}

footer {
    margin-top: 60px;
    background-color: #D0D0D0;
    height: 125px;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contacts_text {
    display: flex;
    justify-content: center;
}

footer p {
    font-family: "Inter";
    font-size: 24px;
}
