* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #DD2323;
    height: 210px;
}

header h1::before {
    display: flex;
    content: url(https://i.postimg.cc/ZRsjf73F/logo-1.png);
    width: 210px;
    height: 125px;
    margin-top: 5px;
}

header h1 {
    display: flex;
    font-family: "Inter";
    color: #FF8800;
    font-size: 60px;
    font-weight: 400;
    justify-content: center;
}

nav {
    display: flex;
    position: relative;
    top: 120px;
    bottom: 0px;
    left: -140px;
    right: 0px;
}

nav a {
    font-size: 32px;
    font-family: "Inter";
    text-decoration: none;
    background-color: #FD8300;
    color: #FFF703;
    border-radius: 15px;
    padding: 0 20px 0 20px;
    margin-left: 130px;
    position: relative;
    top: -110px;
    bottom: 0px;
    left: 410px;
    right: 0px;
}

nav a:hover {
    background-color: #FE9D35;
    transition: background-color 2s;
    border: 1px solid yellow;
}

.pageup {
    position: fixed;
    background-color: #cc9d56;
    width: 60px;
    height: 100px;
    right: 50px;
    bottom: 100px;
    border-radius: 15px;
    opacity: 0.7;
}

.pageup img {
    position: fixed;
    width: 55px;
    height: 90px;
    right: 52px;
    bottom: 105px;
}

.pageup:hover {
    opacity: 1;
    border: 1px solid white;
    transition: opacity 1.2s;
}

main {
    font-family: "Inter";
}

main h2 {
    color: #FF7B00;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

main h3 {
    color: #F7AA4B;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.drinks_text {
    position: relative;
    bottom: 170px;
}

.large_btn {
    border-radius: 100px;
    font-size: 48px;
    background-color: #DFDFDF;
    width: 60px;
    height: 60px;
    text-align: center;
    position: relative;
    left: 790px;
    bottom: 100px;
}

.large_btn a {
    text-decoration: none;
    color: black;
}

.medium_btn {
    border-radius: 100px;
    font-size: 40px;
    background-color: #DFDFDF;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    left: 870px;
    bottom: 150px;
}

.medium_btn a {
    text-decoration: none;
    color: black;
}

.small_btn {
    border-radius: 100px;
    font-size: 35px;
    background-color: #DFDFDF;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    left: 940px;
    bottom: 190px;
}

.small_btn a {
    text-decoration: none;
    color: black;
}

.large_btn:hover {
    background-color: #C3C3C3;
    transition: background-color 1s;
}

.medium_btn:hover {
    background-color: #C3C3C3;
    transition: background-color 1s;
}

.small_btn:hover {
    background-color: #C3C3C3;
    transition: background-color 1s;
}

.hamburger {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 1000px;
    position: relative;
    left: 275px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hamburger h4 {
    color: #F7AA4B;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 90px;
}

.hamburger p{
    font-size: 24px;
    position: relative;
    top: 140px;
    right: 140px;
}

.hamburger img {
    position: relative;
    right: 10px;
}

.cheeseburger {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 1000px;
    position: relative;
    left: 275px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.cheeseburger h4 {
    color: #F7AA4B;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 90px

}

.cheeseburger p{
    font-size: 24px;
    position: relative;
    top: 140px;
    right: 135px;
}

.cheeseburger img {
    position: relative;
    right: 15px;
}

.d_cheeseburger {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 1000px;
    position: relative;
    left: 275px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.d_cheeseburger h4 {
    color: #F7AA4B;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 90px;
    left: 50px;
}

.d_cheeseburger p{
    font-size: 24px;
    position: relative;
    top: 140px;
    right: 175px;
}

.d_cheeseburger img {
    position: relative;
    left: 30px;
}

.mega_burger {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 1000px;
    position: relative;
    left: 275px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.mega_burger h4 {
    color: #F7AA4B;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 90px;
    left: 25px;
}

.mega_burger p {
    font-size: 24px;
    position: relative;
    top: 140px;
    right: 150px;
}

.french_fries {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 1000px;
    position: relative;
    left: 275px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.french_fries h4 {
    color: #F7AA4B;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 90px;
    left: 45px;
}

.french_fries p {
    font-size: 24px;
    position: relative;
    top: 140px;
    right: 150px;
}

.french_fries img {
    position: relative;
    left: 15px;
}

.nuggets {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 1000px;
    position: relative;
    left: 275px;
    margin-top: -125px;
    margin-bottom: 30px;
}

.nuggets h4 {
    color: #F7AA4B;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 90px;
    left: 15px;
}

.nuggets p {
    font-size: 24px;
    position: relative;
    top: 140px;
    right: 110px;

}

.nuggets img {
    position: relative;
    right: 20px;
}

.coca-cola {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 1000px;
    position: relative;
    left: 275px;
    margin-top: -125px;
    margin-bottom: 30px;
}

.coca-cola h4 {
    color: #F7AA4B;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 90px;
    left: 40px;
}

.coca-cola p{
    font-size: 24px;
    position: relative;
    top: 140px;
    right: 120px;
}

.fanta {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 1000px;
    position: relative;
    left: 275px;
    margin-top: -125px;
    margin-bottom: 30px;
}

.fanta h4 {
    color: #F7AA4B;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 90px;
    left: 10px;
}

.fanta p{
    font-size: 24px;
    position: relative;
    top: 140px;
    right: 80px;
}

.fanta img {
    position: relative;
    right: 35px;
}

.water {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    width: 1000px;
    position: relative;
    left: 275px;
    margin-top: -125px;
    margin-bottom: 30px;
}

.water h4 {
    color: #F7AA4B;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: 90px;
    left: 55px;
}

.water p{
    font-size: 24px;
    position: relative;
    top: 140px;
    right: 140px;
}

.water img {
    position: relative;
    left: 20px;
}

footer {
    margin-top: 60px;
    background-color: #D0D0D0;
    height: 125px;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contacts_text {
    display: flex;
    justify-content: center;
}

footer p {
    font-family: "Inter";
    font-size: 24px;
}